.Pokedex {
    text-align: center;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-winner {
    color: #4caf50;
}

.Pokedex-loser {
    color: #e91e63;
}